.mainContainer {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
}

.leftColumn {
    display: flex;
    width: 50%;
    height: 80px;
    padding: 20px;
}

.rightColumn {
    display: flex;
    width: 50%;
    height: 80px;
    padding: 20px;
}

.rbc-current-time-indicator {
    display: none
}

.rbc-day-bg.rbc-today {
    background-color: transparent;
}

.rbc-header.rbc-today {
    background-color: transparent;
}

.rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
    background-color: transparent;
}

.clicked {
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 255, 0, 0.5); /* Light green with reduced opacity */
  }